<ion-header>
  <ion-toolbar color="primary">
      <div class="header">
          <ion-title>card</ion-title>
          <ion-icon name="arrow-forward" (click)="transitionHome()"></ion-icon>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
<!--    <ion-card *ngFor="let notification of notificationList">-->
    <ion-card *ngFor="let c of count">
        <ion-card-header>
<!--            <ion-card-title>{{task?.location}}</ion-card-title>-->
<!--            <ion-card-title>{{notification.title}}</ion-card-title>-->
        </ion-card-header>

        <ion-card-content >
            {{c + 'aaaa'}}
<!--            {{task?.hint}}-->
        </ion-card-content>
    </ion-card>
</ion-content>
