<ion-header>
    <ion-toolbar color="primary">
        <div class="header">
            <ion-icon name="arrow-back" (click)="transitionHome()"></ion-icon>

            <ion-title>Add Task</ion-title>
        </div>

    </ion-toolbar>

</ion-header>

<ion-content >
    <div class="input-group">
        <ion-item>
            <ion-label position="floating" >Enter location address</ion-label>
            <ion-input #lok></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Enter hint</ion-label>
            <ion-textarea #hint></ion-textarea>
        </ion-item>

        <ion-button color="tertiary" (click)="addTask(lok, hint)">Add</ion-button>
    </div>
</ion-content>
